    @font-face {
        font-family: 'drutek';
        src: url('/fonts/rounded_elegance-webfont.woff2') format('woff2'),
             url('/fonts/rounded_elegance-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }
		html {
			font-family: 'drutek', sans-serif;
		}
		html, body, main {
			height: 100%;
		}
		main {
			display:flex;
		}
		.content {
			width: 100%;
		}
		.hero {
			height: 100vh;
			width: 100%;
			background-size: cover;
			display: flex;
			text-align:center;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #333333;
			background-image: url('/home_bg_olderbrowsers.jpg');
		}
		@supports (background-blend-mode: multiply) {
			.hero {
				background-blend-mode: multiply;
				background-image: url('/home_bg.jpg')
			}
			.hero h2 {
				mix-blend-mode: screen;
			}
		}
		.hero h1{
			margin-top: 0;
			color: #ffffff;
			font-size: 5rem;
		}
		.hero h2{
			margin-top: 0;
			color: #21a9b6;
			font-size: 3rem;
			animation: fadein 5s;
		}
		.side-bar {
			padding: 2rem;
			display: flex;
			flex-direction: column;
			border-right: 5px solid #e6e6e6;
			justify-content: space-between;
		}
		.side-bar .copyright {
			font-size: 0.7rem;
		}
		.side-bar-menu {
			list-style: none;
			padding-left: 0;
			margin-top: 4rem;
		}
		.side-bar-menu li a {
			text-decoration: none;
			color: inherit;
		}
		.side-bar-menu li:not(:last-child) {
			margin-bottom: 1rem;
		}
		#logo {
			width: 150px;
		}
		@keyframes fadein {
		    from { opacity: 0; }
		    to   { opacity: 1; }
		}